
<div class="container mx-auto text-center m-3 p-5 ">
  <h1 class=" text-3xl"> Parking Timer â° </h1>
    <div class="p-5 text-xl ">
      <p> Enter your desired parking time: </p>
        <div id="new-timer" class ="flex justify-center items-center" ></div>
          <div id="timer-form" class="hidden" >
           <%= simple_form_for [@parking_bay, @trip] do |f| %>
            <div class="form-inline">
              <div class="form-inputs inline-inputs">
                <%= f.input :hours, :input_html => {:maxlength =>3,:style=> 'width: 50px', value: '00'} %>
                <%= f.error :hours %>
                <span class="inline-label">:</span>
                <%= f.input :minutes, :input_html => {:maxlength =>3,:style=> 'width: 50px', value: '00'} %>
                <%= f.error :minutes %>
              </div>
              <div class="form-actions">
                <%= f.error :base %>
                <%= f.button :submit, "Start Timer", class:"px-4 py-2 font-semibold bg-green-400 text-white rounded-full"%>
              </div>
            </div>
          <% end %>
          </div>

      <br>
      <%= link_to "Return to map", parking_bay_path(@parking_bay), class:"px-4 py-2 font-semibold bg-cyan-500 text-white rounded-full" %>
    </div>
</div>
