<input type="hidden" id="trip-timer" value="<%= @trip.timer.to_i %>">

<div class="text-box">Time left on your park:</div>
<div id="app" class ="timer-box" ></div>
<div class="text-box">
<p>Address: <%= @trip.parking_bay.address %> </p>
<p> <% zone = ActiveSupport::TimeZone.new("Melbourne") %> </p>
<p>Park started at <%= zone.at(@trip.created_at).strftime('%l:%M %p') %> </p>
<p>Park ends at <%= (zone.at(@trip.created_at) + (@trip.timer * 60)).strftime('%l:%M %p') %> </p>
<p>Total parking time : <%= @trip.timer %> minutes </p>
<br>
<%= link_to "Return to home", root_path %>
</div>
