<h1>Show page for <%= @parking_bay.address %></h1>
<div id="map" style="width: 100%; height: 100vh;"
      data-controller="direction"
      data-direction-parking-bay-value="<%= @parking_bay.to_json %>"
      data-direction-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div>
  <div id="instructions">
    <strong> <%= link_to 'Show directions', @parking_bay.directions_link, target:'_blank' %> </strong> |
    <strong> <%= link_to 'Start Timer', new_parking_bay_trip_path(@parking_bay) %> </strong>
  </div>
</div>
